{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block page-title %} NerdCollection - Recuperar Senha{% endblock page-title %}

{% block content %}
<section class="section-register py-5 min-vh-100 justify-content-center align-items-center">
  <div class="form-box container p-5">
    <h2 class="text-center">Alterar Senha</h2>

    <form action="#" method="POST" class="register-form">
      <div class="form-group">
        {% csrf_token %}
        {{ form|crispy }}
      </div>
      <button class="btn btn-primary" type="submit">Enviar</button>
    </form>
  </div>
</section>
{% endblock content %}